.bottomSheet {
  border-radius: 36px 36px 0 0;
  background: var(--background-neutral-global-secondary);
  box-shadow: -3px 4px 35px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 0 16px 24px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);

  &.isFullHeight {
    max-height: 80vh !important;
  }
}

.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2px;
  max-height: 80vh !important;
  width: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.2px;
  padding: 16px 0;
  background: var(--background-neutral-global-secondary);
  border-radius: 36px 36px 0 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.contentWithButton {
  margin-bottom: 17px;
}

.fixedButton {
  width: 100%;
  background: var(--background-neutral-global-secondary);
  padding-top: 16px;
}
