.listWrapper {
  position: absolute;
  left: 0;
  min-width: 212px;
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  gap: 4px;
  padding: 6px;
  background: var(--background-neutral-global-tertiary);
  z-index: 10000;
  overflow: scroll;

  &.openDown {
    bottom: unset;
    top: calc(100% + 8px);
  }

  &.openTop {
    bottom: calc(100% + 12px);
    top: unset;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;

  @media (--vp-mobile) {
    text-align: center;
    justify-content: center;
  }
}

.listContent {
  display: flex;
  flex-direction: column;
}
