.popup {
  @media (--only-desktop) {
    width: 375px;
    height: 357px;
  }
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.titleBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 40px;

  .icon {
    margin-bottom: 12px;
  }

  &:not(.isExtension) {
    @media (--vp-mobile) {
      margin-top: 16px;
    }
  }

  > div:nth-child(2) {
    color: var(--text-neutral-primary);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.2px;
  }

  > div:nth-child(3) {
    color: var(--text-neutral-tertiary);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.15px;
  }
}

.buttonBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  position: relative;
}

.input {
  border: 1px solid var(--background-neutral-tertiary);
  padding-right: 111px;
  width: 100%;
  max-width: 100%;

  &:hover {
    background: var(--background-neutral-tertiary);
  }

  &:focus {
    border: 1px solid var(--stroke-colored-brand);
    background: var(--background-neutral-global-secondary);
  }
}

.green {
  color: var(--text-colored-success);
  font-weight: 500;
}
