.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}

.popup {
  width: 344px;
  box-shadow:
    0 3px 7px 0 #00000005,
    0 13px 13px 0 #00000005,
    0 29px 17px 0 #00000003,
    0 51px 20px 0 #00000000,
    0 80px 22px 0 #00000000;
  border-radius: 36px;
  overflow: hidden;
  animation: fadeInUp 0.2s ease-out forwards;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  background: var(--background-neutral-global-secondary);
  padding: 12px;
}

.popupHeader {
  display: flex;
  align-items: center;
  padding: 8px 6px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.contentContainer {
  padding: 0 6px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--text-neutral-primary);
  margin-left: 28px;
}

.text {
  color: var(--text-neutral-tertiary);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.15px;
  margin-bottom: 8px;
}

.itemName {
  color: var(--text-neutral-primary);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 16px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.btn {
  flex: 1;
  padding: 10px 0;
  border-radius: 24px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.closeBtn {
  cursor: pointer;
  stroke: var(--icon-neutral-secondary);
  transition: 0.2s;
}

.closeBtn:hover {
  stroke: var(--icon-neutral-tertiary);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
