.panelItem {
  display: flex;
  padding: 14px;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  color: var(--text-neutral-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  .innerRow {
    display: flex;
    gap: 12px;
    align-items: center;

    .greyText {
      color: var(--text-neutral-disabled);
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
    }
  }

  .bold {
    color: var(--text-neutral-primary);
    font-weight: 500;
  }

  .iconWrapper {
    display: flex;
    min-width: 28px;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    .icon {
      color: var(--icon-neutral-primary-on-color);
      stroke: var(--icon-neutral-primary-on-color);
    }
    .iconInverse {
      stroke: var(--icon-neutral-primary-inverse);
    }

    &.blue {
      background: var(--background-brand-primary);
    }
    &.green {
      background: var(--background-success-primary);
    }
    &.violet {
      background: var(--icon-colored-browser-recently);
    }
    &.orange {
      background: var(--background-warning-primary);
    }
    &.black {
      background: var(--background-neutral-primary-inverse);
    }
    &.gradient {
      background: var(--plans-gradient);
    }
  }
}
