.wrapperRow {
  display: flex;
  align-items: center;
  gap: 6px;
  overflow: hidden;
  color: var(--text-neutral-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
