.progressContainer {
  width: 100%;
  max-width: 268px;
  background: var(--background-neutral-secondary);
  height: 12px;
  overflow: hidden;
  position: relative;
  border-radius: 99px;
}

.progressBar {
  border-radius: 99px;
  background: var(--background-neutral-pure-active);
  height: 8px;
  max-width: calc(100% - 4px);
  transition: width 50ms linear;
  margin-top: 2px;
  margin-left: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.text {
  color: var(--text-neutral-disabled);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
}
