.wrapper {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.icon {
  min-width: 20px;
  stroke: var(--icon-neutral-tertiary);
}

.wrapper:hover .icon {
  stroke: var(--icon-neutral-primary);
}

.clearWrapper {
  display: flex;
  min-width: 36px;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  transition: background-color 0.2s;
  background-color: var(--background-neutral-secondary);
  cursor: pointer;

  &:hover {
    background-color: var(--background-neutral-tertiary);
  }

  &:active {
    background-color: var(--background-neutral-disabled);
  }

  .clearIcon {
    min-width: 20px;
    stroke: var(--icon-neutral-primary);
  }
}
