.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  color: var(--text-neutral-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  height: 34px;
  padding: 8px 10px;
  border-radius: 10px;
  width: 100%;
  align-self: stretch;
  background-color: transparent;
  transition: background 0.2s;

  &:hover {
    background: var(--background-neutral-secondary);
  }

  &.isActive {
    background: var(--background-neutral-tertiary);
  }
}
