.headerStyles {
  border: none;
  z-index: 1000;
  background: var(--background-neutral-global-tertiary);
  height: var(--desktop-header-height);
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  border-radius: 0;
  padding: 10px 12px 10px 16px;
  top: 0;
  transition:
    top 300ms ease-in-out,
    width 300ms ease-in-out,
    margin 300ms ease-in-out,
    transform 300ms ease-in-out;

  @media (--vp-mobile) {
    height: var(--mobile-header-height);
    padding: 14px 16px;

    &:not(.isNoBorderBottom) {
      border-bottom: 1px solid var(--stroke-neutral-alfa-tertiary);
    }
  }
}

.headerStyles.visible {
  @media (--vp-mobile) {
    position: sticky;
    top: 0;
  }
}

.headerStyles.hidden {
  @media (--vp-mobile) {
    top: calc(-1 * var(--mobile-header-height));
  }
}

.headerInner {
  width: 100%;
  height: 44px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;

  @media (--vp-mobile) {
    display: none;
  }
}

.downloadBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.downloadButton {
  padding: 16px 12px;
}

.iconMobileHead {
  fill: var(--icon-neutral-primary);
  display: none;

  @media (--vp-mobile) {
    display: block;
  }
}

.title {
  color: var(--text-neutral-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.16px;
  white-space: nowrap;
  max-width: calc(var(--content-width) - 100px);
  text-overflow: ellipsis;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (--vp-mobile) {
    display: none;
  }
}

.wrapperLogotype {
  height: 28px;
  width: 122px;
}

.pwaButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.buttonNewThread {
  font-weight: 500;

  .icon {
    margin-right: 6px;
  }

  &:hover {
    background-color: var(--background-neutral-secondary);
  }

  &:active {
    background-color: var(--background-neutral-tertiary);
  }
}

.headerWidget {
  height: 24px;
  min-height: 24px;
}

.isSidebar {
  margin-left: var(--desktop-sidebar-width);
  width: calc(100% - var(--desktop-sidebar-width));

  @media (--vp-tablet) {
    margin-left: 0;
    width: 100%;
  }
}
