.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.player {
  visibility: hidden;
  width: 640px;
  height: 390px;

  @media (--vp-mobile) {
    width: 360px;
    height: 220px;
  }

  &.visible {
    visibility: visible;
  }
}

.loader {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      var(--stroke-neutral-alfa-primary) 50px,
      transparent 0
    ),
    linear-gradient(var(--stroke-neutral-alfa-primary) 50px, transparent 0),
    linear-gradient(var(--stroke-neutral-alfa-primary) 50px, transparent 0),
    linear-gradient(var(--stroke-neutral-alfa-primary) 50px, transparent 0),
    linear-gradient(var(--stroke-neutral-alfa-primary) 50px, transparent 0);
  background-size: 5px 40px;
  background-position:
    0 center,
    10px center,
    20px center,
    30px center,
    40px center,
    50px center;
  animation: spikeUp 1s linear infinite alternate;
}

@keyframes spikeUp {
  0% {
    background-size: 5px 40px;
  }
  16% {
    background-size:
      5px 55px,
      5px 40px,
      5px 40px,
      5px 40px,
      5px 40px,
      5px 40px;
  }
  33% {
    background-size:
      5px 40px,
      5px 55px,
      5px 40px,
      5px 40px,
      5px 40px,
      5px 40px;
  }
  50% {
    background-size:
      5px 40px,
      5px 40px,
      5px 55px,
      5px 40px,
      5px 40px,
      5px 40px;
  }
  66% {
    background-size:
      5px 40px,
      5px 40px,
      5px 40px,
      5px 55px,
      5px 40px,
      5px 40px;
  }
  83% {
    background-size:
      5px 40px,
      5px 40px,
      5px 40px,
      5px 40px,
      5px 55px,
      5px 40px;
  }
  100% {
    background-size:
      5px 40px,
      5px 40px,
      5px 40px,
      5px 40px,
      5px 40px,
      5px 55px;
  }
}
