.container {
  position: relative;
  z-index: 100;
}

.buttonWrapper {
  border: none;
  background: none;
  min-width: 36px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
}

.button {
  display: flex;
  min-width: 36px;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  transition: background-color 0.2s;
  border: none;
}

.button:hover {
  background-color: var(--background-neutral-secondary) !important;
}

.button:active {
  background-color: var(--background-neutral-tertiary) !important;
}

.button.active {
  background-color: var(--background-neutral-tertiary) !important;
}

.button .icon {
  min-width: 20px;
  stroke: var(--icon-neutral-tertiary);
}

.button.isDisabled {
  background-color: transparent !important;
  cursor: not-allowed;
}

.iconPrimary {
  min-width: 20px;
  stroke: var(--icon-neutral-primary);
}

.wrapperActionPanel {
  width: 225px;
  border-radius: 16px;
  padding: 6px 0;
  gap: 0;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  background: var(--background-neutral-global-secondary);
  box-shadow:
    -8px 23px 7px 0 rgba(0, 0, 0, 0),
    -5px 15px 6px 0 rgba(0, 0, 0, 0),
    -3px 8px 5px 0 rgba(0, 0, 0, 0.02),
    -1px 4px 4px 0 rgba(0, 0, 0, 0.03),
    0 1px 2px 0 rgba(0, 0, 0, 0.03);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .wrapperActionPanel {
    width: fit-content;
    min-width: 204px;
  }
}

.wrapperActionPanel.wrapperActionPanelSmall {
  min-width: 192px;
  width: 192px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--stroke-neutral-alfa-tertiary);
  margin: 4px 0;
}

.listWrapper {
  padding: 0 6px;
  width: 100%;
}

.actionPanelItem {
  height: 38px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.16px;
}

.actionPanelItem .innerRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.actionPanelItem .innerRow .iconCheck {
  stroke: var(--text-colored-brand);
  min-width: 18px;
}

.actionPanelItem .innerRow .iconClear {
  stroke: var(--text-colored-brand);
  min-width: 18px;
  display: none;
}

.actionPanelItem.selected {
  color: var(--text-colored-brand);
}

.actionPanelItem:active {
  background-color: var(--background-neutral-secondary);
}

.actionPanelItem.isOpen {
  background-color: var(--background-neutral-secondary);
}

.actionPanelItem.selected:hover {
  background: var(--background-brand-primary-subdued) !important;
}

.actionPanelItem.selected:active {
  background: var(--background-brand-primary-subdued) !important;
}

.actionPanelItem .iconChevron {
  rotate: -90deg;
  stroke: var(--icon-neutral-disabled);
}

.actionPanelItem:hover .iconCheck {
  display: none;
}

.actionPanelItem:hover .iconClear {
  display: flex;
}
