.imageWithPlaceholderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--desktop-image-width);
  width: var(--desktop-image-width);
  height: var(--desktop-image-height);
  border-radius: 14px;
  overflow: hidden;

  @media (--vp-mobile) {
    min-width: var(--mobile-image-width);
    width: var(--mobile-image-width);
    height: var(--mobile-image-height);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.2s;

  &.loaded {
    opacity: 1;
  }

  &:hover {
    transform: scale(1.01);
  }
}
