@keyframes fadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: #00000080;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup {
  border-radius: 36px;
  width: 344px;
  box-shadow: var(--extension-box-shadow);
  overflow: hidden;
  animation: fadeInUp 0.3s ease-out;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  background: var(--background-neutral-global-secondary);
}

.header {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px;
  align-items: center;
}

.iconWrapper {
  margin-right: 10px;
  cursor: pointer;
}

.content {
  padding: 0 12px 12px;
}

.headerIcon {
  stroke: var(--icon-neutral-secondary);
  transition: 0.3s;

  &:hover {
    stroke: var(--icon-neutral-tertiary);
  }
}

.place {
  width: 24px;
}
