.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.input {
  position: relative;
  font-family: var(--font-primary);
  height: 40px;
  color: var(--text-neutral-primary);
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.15px;
  text-align: left;
  outline: none !important;
  display: flex;
  padding: 6px 12px;
  border-radius: 12px;
  background: var(--background-neutral-secondary);
  border: none;
  width: 100%;
  max-width: 392px;
  transition: all 0.2s;

  &.isError {
    border: 1px solid var(--stroke-colored-error);
    background: var(--background-neutral-global-secondary);
  }
}

.input::placeholder {
  color: var(--text-neutral-disabled) !important;
}

.error {
  color: var(--text-colored-error);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.14px;
  position: absolute;
  right: 12px;
}
