.option {
  box-sizing: border-box;
  cursor: pointer;
  min-height: 40px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;

  &.highlighted {
    background: var(--background-neutral-secondary);
  }

  .optionContent {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 12px;
      min-width: 24px;
      color: var(--icon-neutral-primary);
    }
  }
}

.divider {
  width: 100%;
  background: var(--stroke-neutral-alfa-disabled);
  height: 1px;
}
