.wrapper {
  position: relative;
  outline: none;
  user-select: none;
  cursor: pointer;
  justify-content: space-between;
}

.wrapper > input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.wrapper > .icon {
  position: relative;
  display: flex;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: var(--background-neutral-tertiary);
  border: none;
  cursor: pointer;
}

.icon:hover {
  border-color: var(--background-brand-primary);
}

.wrapper:hover .icon {
  border-color: var(--background-brand-primary);
}

.wrapper:hover .iconChecked {
  background: var(--background-brand-primary) !important;
}

.iconChecked {
  border: 2px solid rgb(35 34 34/ 6%) !important;
  background: var(--background-brand-primary) !important;
}

.iconCheckedWhite {
  border: 2px solid white !important;
  background: white !important;
}

.iconChecked:hover {
  border: 2px solid rgb(35 34 34 / 6%) !important;
  background: var(--background-brand-primary) !important;
}

.iconDisabled {
  background: rgb(35 34 34 / 6%) !important;
  border-color: var(--background-brand-primary) !important;
}

.iconDisabled:hover {
  background: rgb(35 34 34 / 6%) !important;
  border-color: var(--background-brand-primary) !important;
}

.dot {
  background: var(--background-neutral-global-secondary);
  border-radius: 100px;
  width: 12px;
  height: 12px;

  &.white {
    background: var(--background-brand-primary);
  }
}

.dotDisabled {
  background: transparent !important;
}
