.button {
  transition: all 0.4s ease-out;
  width: fit-content;
  max-width: 32px;
  padding: 6px 7px !important;

  &.activeButton {
    background-color: var(--background-neutral-secondary);
  }

  &.isLoaderButton {
    display: flex;
    height: 32px;
    padding: 0 10px !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background-color: var(--background-brand-primary-subdued);
    max-width: 100px;

    &:hover {
      background-color: var(--background-brand-primary-subdued-hover);
    }

    &:active {
      background-color: var(--background-brand-primary-subdued-active);
    }
  }

  .icon {
    min-width: 18px;
    width: 18px;
    height: 18px;
    stroke: var(--icon-neutral-secondary) !important;
  }

  .loader {
    min-width: 18px;
  }

  .text {
    color: var(--text-neutral-secondary);
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.15px;
  }
}

.iconDisabled {
  min-width: 18px;
  width: 18px;
  height: 18px;
  stroke: var(--icon-neutral-disabled) !important;
}
