.wrapper {
  display: flex;
  min-width: 36px;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 99px;
  background-color: var(--background-neutral-primary-inverse);
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;
  will-change: background-color;

  &:hover {
    background-color: var(--background-neutral-secondary-inverse);
  }

  &:active {
    background-color: var(--background-neutral-tertiary-inverse);
  }

  .icon {
    stroke: var(--icon-neutral-primary-inverse);
    transform: rotate(90deg);
  }

  &.notActive {
    background: var(--background-neutral-tertiary) !important;
    cursor: initial;

    .icon {
      stroke: var(--icon-neutral-disabled);
    }
  }

  &.notActive.isExtension {
    background: var(--background-neutral-secondary) !important;
  }
}

.stopButton {
  display: flex;
  min-width: 36px;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 99px;
  background-color: var(--background-neutral-primary-inverse);
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;
  will-change: background-color;

  &:hover {
    background-color: var(--background-neutral-secondary-inverse);
  }

  &:active {
    background-color: var(--background-neutral-tertiary-inverse);
  }

  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 4px;
    background: var(--icon-neutral-primary-inverse);
  }
}
