.container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-neutral-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  min-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  border-radius: 50%;
  margin-left: -6px;
  object-fit: cover;
}

.icon:first-child {
  margin-left: 0;
}

.text {
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
