.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
  overflow-x: auto !important;
  margin-top: 6px;
  padding-top: 1px;
  padding-left: 6px;
  padding-right: 6px;

  &.isInputLayout {
    --top-fade: 6px;
    --bottom-fade: 6px;
    -webkit-mask: linear-gradient(
      to right in oklch,
      oklch(60% 0 0 / 0),
      oklch(85% 0 0) var(--top-fade) calc(100% - var(--bottom-fade)),
      oklch(60% 0 0 / 0)
    );
  }

  &.isUserMessage {
    padding: 0;
    margin: 0 0 12px 0;
    gap: 8px;
    height: unset;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.scrollWrapper {
  overflow: scroll;
  width: 100%;
  display: flex;

  &.isUserMessage {
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
}

.imageWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
}
