.wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--text-neutral-primary);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.animatedDot {
  margin-left: -11px;
  margin-right: -2px;
}
