.title {
  color: var(--text-neutral-primary-on-color);
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.84px;

  @media (--vp-mobile) {
    font-size: 32px;
    letter-spacing: -0.64px;
  }
}

.buttonWrapper {
  gap: 12px;
}

.image {
  width: 144px;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;

  @media (--vp-mobile) {
    gap: 28px;
  }
}

.button {
  font-size: 18px !important;
  font-weight: 500 !important;
  width: 360px;
  height: 52px !important;

  @media (--vp-mobile) {
    width: 100%;
    max-width: 375px !important;
  }
}

.buttonUpgrade {
  font-size: 18px !important;
  font-weight: 500 !important;

  width: 360px;
  min-width: 252px;
  height: 52px;

  @media (--vp-mobile) {
    width: 252px;
    min-width: unset;
  }
}

.icon {
  margin-right: 6px;
}

.footer {
  position: absolute;
  user-select: none;
  color: var(--text-neutral-tertiary-on-color);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  width: 360px;
  bottom: 40px;

  @media (--vp-mobile) {
    bottom: 36px;
  }

  a {
    color: var(--text-neutral-primary-on-color);
    cursor: pointer;
  }
}

.wrapperLogotype {
  display: flex;
  width: 100%;
  align-items: center;
  height: 28px;
  justify-content: flex-start;

  position: absolute;
  top: 20px;
  left: 28px;

  @media (--vp-tablet) {
    top: 20px;
    left: 16px;
  }
}
