/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  background: var(--background-neutral-global-tertiary);
  color: var(--text-neutral-primary);
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow: hidden;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}

#root {
  flex-direction: column;
  display: flex;
  height: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0 0 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

h2 {
  font-size: 22px;
  margin-top: 22px;
}

h1 {
  font-size: 22px;
  line-height: 28px;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.customScrollBarVertical {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

@media (min-width: 1024px) {
  .customScrollBarVertical {
    -ms-overflow-style: auto !important;
    scrollbar-width: auto !important;
  }
}

.customScrollBarVertical::-webkit-scrollbar {
  display: initial !important;
  width: 8px !important;
}

.customScrollBarVertical::-webkit-scrollbar-thumb {
  background-color: var(--stroke-neutral-alfa-tertiary);
  border-radius: 4px;
  cursor: pointer;
}

.customScrollBarVertical::-webkit-scrollbar-track {
  background-color: transparent;
}

/* react-hot-toast styles */
.go2534082608 {
  background: var(--background-error-primary) !important;
}

.go2072408551 {
  width: 100% !important;
  max-width: 400px !important;
  max-height: unset !important;
}

.go3958317564 {
  justify-content: flex-start !important;
}

.go2344853693 {
  background: var(--background-success-primary) !important;
}

.toaster-container {
  top: 16px;
  z-index: 999999 !important;
}
