.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.w-100p {
  width: 100%;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.capitalize {
  text-transform: capitalize;
}

.jc-start {
  justify-content: flex-start;
}

.br100 {
  border-radius: 100px;
}

.opacity-animation {
  animation: opacityAnimation ease 0.6s;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
