:root.theme-dark {
  --circle-button-hover: color-mix(in srgb, var(--background-neutral-global-secondary) 95%, white);
  --box-shadow-1: none;

  --background-gradient-extension: linear-gradient(
    180.48deg,
    rgba(211, 112, 241, 0.08) -3.41%,
    rgba(255, 84, 127, 0) 98.98%
  );

  --footer-gradient: linear-gradient(0deg, #282a2d 70.07%, rgba(40, 42, 45, 0) 99.12%);

  --footer-gradient-history: linear-gradient(
    0deg,
    var(--transparent-background-1-tertiary) 0%,
    var(--transparent-background-2-tertiary) 54.75%
  );
  --footer-gradient-tg-messages: linear-gradient(
    0deg,
    var(--transparent-background-1-tertiary) 10.78%,
    var(--transparent-background-2-tertiary) 100%
  );
}

:root.theme-light {
  --circle-button-hover: color-mix(in srgb, var(--background-neutral-global-secondary) 95%, black);
  --box-shadow-1: 0 5px 4px 0 rgba(0, 0, 0, 0.15), 0 4px 16.6px 0 rgba(0, 0, 0, 0.08);

  --background-gradient-extension: linear-gradient(
    180.48deg,
    rgba(211, 112, 241, 0.08) -3.41%,
    rgba(255, 84, 127, 0) 98.98%
  );

  --footer-gradient: linear-gradient(0deg, #ffffff 70.07%, rgba(255, 255, 255, 0) 99.12%);

  --footer-gradient-history: linear-gradient(
    0deg,
    var(--transparent-background-1-tertiary) 0%,
    var(--transparent-background-2-tertiary) 54.75%
  );
  --footer-gradient-tg-messages: linear-gradient(
    0deg,
    var(--transparent-background-1-tertiary) 10.78%,
    var(--transparent-background-2-tertiary) 100%
  );
}
