.actionPanelHistory {
  width: 140px;
  padding: 4px;
  box-shadow:
    -6px 50px 14px 0 rgba(49, 48, 64, 0),
    -4px 32px 13px 0 rgba(49, 48, 64, 0.01),
    -2px 18px 11px 0 rgba(49, 48, 64, 0.03),
    -1px 8px 8px 0 rgba(49, 48, 64, 0.04),
    0 2px 4px 0 rgba(49, 48, 64, 0.03),
    0 0 0 0 rgba(49, 48, 64, 0.05);
}

.iconPanel {
  stroke: var(--icon-neutral-disabled);
}

.iconPanelFill {
  fill: var(--icon-neutral-disabled);
}

.iconPanelFillRed {
  fill: var(--text-colored-error);
}

.redText {
  color: var(--text-colored-error);
}

.dotButton {
  min-width: 30px;
  width: 30px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  background-color: transparent;

  &.isActiveButton .icon {
    stroke: var(--icon-neutral-tertiary);
    opacity: 1;
  }

  &.dotButtonMobile .icon {
    opacity: 1 !important;
  }

  &.isHistoryPage {
    border-radius: 8px;
    justify-content: center;
    transition: background-color 0.2s;
    width: 28px;
    min-width: 28px;
    height: 28px;
    margin-top: -3px;
  }

  &.isHistoryPage:hover {
    background-color: var(--background-neutral-secondary);
  }

  &.isHistoryPage .icon {
    opacity: 1 !important;
  }

  &.isSidebar .icon {
    stroke: var(--icon-neutral-tertiary) !important;
  }

  &.isSidebar:hover .icon {
    stroke: var(--icon-neutral-primary) !important;
  }

  .icon {
    transition: all 0.2s;
    opacity: 0;
    stroke: var(--icon-neutral-disabled);
    min-width: 20px;
  }

  &:hover .icon {
    stroke: var(--icon-neutral-tertiary);
  }
}
