.popup {
  @media (--only-desktop) {
    width: 375px;
  }
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.labelBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;

  .label {
    color: var(--text-neutral-disabled);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.14px;
  }

  .inputRow {
    display: flex;
    gap: 8px;
  }
}

.titleBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 40px;

  .image {
    margin-bottom: 12px;
  }

  &:not(.isExtension) {
    @media (--vp-mobile) {
      margin-top: 16px;
    }
  }

  > div:nth-child(2) {
    color: var(--text-neutral-primary);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.2px;
  }

  > div:nth-child(3) {
    color: var(--text-neutral-tertiary);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.15px;
  }
}

.button {
  display: flex;
  height: 40px;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.16px;
  min-width: 72px !important;
  max-width: 72px !important;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  width: 100%;

  .divider {
    z-index: 1;
    height: 1px;
    width: 100%;
    background: var(--stroke-neutral-alfa-tertiary);
  }

  .label {
    color: var(--text-neutral-disabled);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.14px;
    white-space: nowrap;
  }

  .rowFirst {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .rowHistory {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    width: 100%;

    .image {
      position: absolute;
      right: 20px;

      .icon {
        color: var(--icon-neutral-disabled);
      }
    }

    > div {
      display: flex;
      width: 100%;
      height: 72px;
      padding: 16px 20px;
      justify-content: space-between;
      align-items: flex-start;
      flex: 1 0 0;
      border-radius: 16px;
      background: var(--background-neutral-secondary);
      flex-direction: column;
      gap: 8px;
      position: relative;

      > div:first-child {
        color: var(--text-neutral-primary);
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.16px;
      }

      > div:nth-child(2) {
        color: var(--text-neutral-disabled);
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.14px;
      }
    }
  }
}

.input {
  display: flex;
  height: 40px;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 14px;
  background: var(--background-neutral-secondary);
  color: var(--text-neutral-tertiary) !important;
  overflow: hidden;

  span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.icon {
  min-width: 20px;
  stroke: var(--icon-neutral-primary-inverse);
}

.footer {
  display: flex;
  color: var(--text-neutral-tertiary);
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
  align-items: center;
  margin-left: -10px;
}

.link {
  color: var(--text-neutral-tertiary);
  line-height: 16px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 4.5%;
  text-underline-offset: 16.5%;
  text-underline-position: from-font;
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    color: var(--text-neutral-secondary);
  }
}
