.buttonUpgrade {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.15px;
  height: 36px;
  width: 113px;

  &.isFullWidthMobile {
    @media (--vp-mobile) {
      width: 100%;
      height: 44px;
    }
  }

  &.isFullWidthExtension {
    width: 100%;
    height: 44px;
  }
}

.iconStars {
  min-width: 20px;
  margin-right: 6px;
  fill: var(--icon-neutral-primary-on-color);

  &.isMainPage {
    fill: var(--icon-neutral-primary-inverse);
  }
}
