.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.divider {
  width: calc(100% + 40px);
  margin-left: -20px;
  background: var(--stroke-neutral-alfa-disabled);
  height: 1px;

  &:not(.firstDivider) {
    margin-top: 16px;

    @media (--vp-mobile) {
      margin-top: 24px;
    }
  }
}

.firstBlock {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 16px 0 0;
  justify-content: space-between;
  align-items: center;

  @media (--vp-mobile) {
    flex-direction: column;
    gap: 16px;
    padding: 24px 0 0;
  }
}

.secondBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 16px 0 0;

  @media (--vp-mobile) {
    padding: 24px 0 0;
  }
}

.thirdBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  padding-top: 16px;

  @media (--vp-mobile) {
    gap: 24px;
    padding: 24px 0 0;
  }

  .smallColumn {
    @media (--vp-mobile) {
      width: 100%;
    }
  }
}

.smallColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (--vp-mobile) {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.columnExtension {
  padding: 0 4px 2px;

  .firstDividerExtension {
    margin-top: 6px !important;
  }

  .firstBlock {
    flex-direction: column;
    gap: 16px;
    padding: 24px 0 0;
  }

  .smallColumn {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .rowBetweenToColumn {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .divider {
    margin-top: 24px;
  }

  .secondBlock {
    padding: 24px 0 0;
  }

  .thirdBlock {
    gap: 24px;
    padding: 24px 0 0;
  }
}

.title {
  color: var(--text-neutral-tertiary);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.black {
  color: var(--text-neutral-primary) !important;
}

.textSecondary {
  color: var(--text-neutral-disabled);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.14px;
  white-space: nowrap;
}

.rowBetween {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rowBetweenToColumn {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (--vp-mobile) {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
}

.iconStroke {
  stroke: var(--icon-neutral-disabled);
  margin-left: 6px;
}
