.button {
  width: 100%;
  font-size: 18px !important;
  font-weight: 500 !important;

  @media (--vp-mobile) {
    font-size: 16px !important;
  }
}

.icon {
  margin-right: 6px;
  min-width: 20px;
  width: 20px;
}

.iconApple {
  min-width: 20px;
  width: 20px;
  fill: var(--black-solid-main);
  margin-right: 6px;
}

.wrapperButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
  max-width: 375px;
}
