.button {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  color: var(--text-neutral-disabled);
  text-align: center;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.15px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: none;
  border: none;
  transition: color 0.1s;
  position: relative;

  &.isSelected {
    color: var(--text-neutral-primary);
  }

  @media (--only-desktop) {
    &:hover {
      color: var(--text-neutral-primary);
    }
  }
}

.hoverBackground {
  position: absolute;
  width: 112px;
  height: 112px;
  border-radius: 16px;
  top: 0;
  z-index: 10;
  background: transparent;
}

@media (--only-desktop) {
  .button:hover > .hoverBackground {
    background: #00000059; /* не было переменной в дизайне */
  }
}

.image {
  width: 112px;
  height: 112px;
  border-radius: 16px;
  transition:
    outline 0.1s,
    background 0.2s;

  &.isSelected {
    outline: 2px solid var(--icon-colored-brand);
  }

  @media (--vp-mobile) {
    width: 75px;
    height: 75px;
  }
}
