.button {
  width: 100%;
  font-weight: 500;
  border-radius: 14px;

  &.popularLight {
    /* не было переменной в дизайне */
    background: rgba(255, 255, 255, 0.15) !important;
    color: var(--text-neutral-secondary-on-color) !important;
  }

  &.popularShadow {
    box-shadow: 0 5px 2px 0 rgba(77, 87, 106, 0.12); /* не было переменной в дизайне */
  }
}
