.tooltip {
  height: 34px !important;
  color: var(--text-neutral-primary-inverse) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  letter-spacing: -0.14px !important;
  padding: 0 12px !important;
  display: flex;
  align-items: center;
  border-radius: 10px !important;
  opacity: 1 !important;
  background: var(--background-neutral-primary-inverse) !important;
  z-index: 100000000 !important;
  box-shadow:
    0 12px 16px -4px rgba(10, 13, 18, 0.08),
    0 4px 6px -2px rgba(10, 13, 18, 0.03),
    0 2px 2px -1px rgba(10, 13, 18, 0.04) !important;
}

.tooltip.isExtension {
   height: 28px !important;
   font-size: 13px !important;
}

.tooltipArrow {
  fill: var(--background-neutral-primary-inverse) !important;
}
