.wrapper {
  display: flex;
  height: 28px;
  padding: 0 8px 0 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: var(--background-neutral-secondary);

  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.98px;

  & div:last-child {
    color: var(--text-neutral-disabled);
  }
}
