.icon {
  stroke: var(--text-neutral-primary);
  margin-right: 6px;
  min-width: 17px;
}

.strokeIcon {
  color: var(--icon-neutral-primary);
}

.strokeRedIcon {
  color: var(--background-error-primary);
}

.button {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.15px;
  width: 97px;
}

.wrapper {
  display: flex;
  width: 36px;
  min-width: 36px;
  height: 36px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--background-neutral-secondary);
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;

  @media (--only-desktop) {
    &:hover {
      background-color: var(--background-neutral-tertiary);
    }
  }

  &.wrapperForSideBar {
    width: 100%;
    gap: 8px;
    justify-content: flex-start;
    padding: 6px 12px 6px 6px;
    background-color: transparent;
  }

  &.wrapperForSideBarOpen {
    background-color: var(--background-neutral-tertiary);
  }

  &.wrapperForExtension {
    width: 32px;
    height: 32px;
    min-width: 32px;

    &:hover {
      background-color: var(--background-neutral-tertiary);
    }
  }

  .image {
    border-radius: 100px;
    width: 28px;
    height: 28px;
  }

  &.wrapperForExtension > .image {
    width: 24px;
    height: 24px;
  }

  .name {
    font-size: 15px;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px;
  }

  .iconArrow {
    stroke: var(--icon-neutral-disabled);
    position: absolute;
    right: 12px;
  }

  .iconRotate {
    transition: all 0.3s;
    transform: rotate(180deg);
  }
}

.logOutText {
  color: var(--text-colored-error);
}

.divider {
  width: calc(100% + 12px);
  border-bottom: 1px solid var(--stroke-neutral-alfa-tertiary);
  margin: 2px 0 2px -6px;
}

.panelWrapper {
  width: 270px;
  border-radius: 16px;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  padding: 0 6px 6px;

  &.withShadow {
    box-shadow: var(--box-shadow-2);
  }

  &.extensionShadow {
    box-shadow: var(--box-shadow-popup);
  }
}

.upgradeButton {
  border-radius: 12px;
  width: 100%;
  height: 38px !important;
  margin-bottom: 3px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.15px;

  .fillIcon {
    fill: var(--icon-neutral-primary-inverse);
    margin-right: 6px;
  }
}

.fillIconStars {
  fill: var(--icon-neutral-primary);
}
