.loader {
  min-width: 18px;
}

.check {
  min-width: 18px;
  stroke: var(--icon-colored-success);
}

.pause {
  min-width: 18px;
  color: var(--icon-colored-warning);
}

.failed {
  min-width: 18px;
  stroke: var(--icon-colored-error);
}
