.panelItem {
  display: flex;
  padding: 14px;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.innerRow {
  display: flex;
  gap: 12px;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  color: var(--text-neutral-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.oldPrice {
  color: var(--text-neutral-disabled);
  text-decoration: line-through;
}

.bold {
  font-size: 16px;
  line-height: 22px;
  color: var(--text-neutral-primary);
  font-weight: 500;
}
