.title {
  color: var(--text-neutral-primary-on-color);
  text-align: left;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.4px;

  @media (--vp-mobile) {
    font-size: 28px;
    letter-spacing: -0.56px;
    text-align: center;
  }
}

.image {
  width: 100px;
  height: 100%;
  margin-top: 5px;
  margin-left: 14px;

  @media (--vp-mobile) {
    width: 111px;
    margin-top: 16px;
    margin-left: 0;
  }
}

.description {
  display: none;

  @media (--vp-mobile) {
    display: block;
    color: var(--text-neutral-tertiary-on-color);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.15px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;

  @media (--vp-mobile) {
    flex-direction: column;
    gap: 12px;
  }
}

.button {
  margin-right: 50px;
  font-size: 18px !important;
  font-weight: 500 !important;
  width: 200px;
  min-width: 200px;
  height: 52px;

  @media (--vp-mobile) {
    width: 100%;
    min-width: unset;
    margin-right: 0;
    font-size: 16px !important;
    height: 44px !important;
  }
}

.icon {
  margin-right: 6px;
}
