.row {
  display: flex;
  min-height: 34px;
  height: 34px;
  padding: 0 12px;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  cursor: pointer;

  .text {
    color: var(--text-neutral-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    word-break: break-all;
    max-width: calc(100% - 24px);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  position: relative;
  transition: background 0.2s;
  border-radius: 10px;
  background-color: transparent;

  &.isActive {
    background: var(--background-neutral-tertiary);
  }

  @media (--only-desktop) {
    &:hover {
      background: var(--background-neutral-secondary);
    }

    &.isActiveMenu {
      background: var(--background-neutral-secondary);
    }
  }
}

.wrapper:hover .hoveredIcon {
  opacity: 1;
}

.buttonWrapper {
  position: absolute;
  top: 0;
  right: 0;
}
