.badge {
  display: flex;
  font-size: 13px;
  font-weight: normal;
  vertical-align: middle;
  white-space: nowrap;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: var(--plans-gradient);
  height: 24px;
  padding: 10px 8px;
  color: rgba(255, 255, 255, 1); /* не было переменной в дизайне */

  @media (--vp-tablet) {
    background: var(--background-brand-primary);
  }

  &.white {
    background: var(--background-neutral-global-tertiary);
    color: var(--text-neutral-primary);
  }

  &.black {
    background: var(--background-neutral-primary-inverse);
    color: var(--text-neutral-primary-inverse);
  }

  &.blue {
    border: 1px solid var(--stroke-colored-brand);
    background: var(--background-brand-primary-subdued);
    color: var(--text-colored-brand);
  }

  .text {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }
}

.soonBadge {
  display: flex;
  width: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 99px;
  background: var(--background-neutral-secondary);
  color: var(--text-neutral-disabled);
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.12px;

  &.white {
    background: rgba(255, 255, 255, 0.12); /* не было переменной в дизайне */
    color: var(--text-neutral-tertiary-on-color);
  }
}
