.button {
  display: flex;
  width: 36px;
  height: 36px;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: var(--background-neutral-global-secondary);
  cursor: pointer;
  user-select: none;
  box-shadow: var(--box-shadow-1);
  stroke: var(--icon-neutral-primary);
  transition: background 0.3s ease;

  &:hover {
    background: var(--circle-button-hover);
  }
}
