.root {
  cursor: default;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.searchInputWrapper {
  width: 100%;
  border-radius: 24px;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  background: var(--background-neutral-global-secondary);
  box-shadow:
    0 80px 22px 0 rgba(0, 0, 0, 0),
    0 51px 20px 0 rgba(0, 0, 0, 0),
    0 29px 17px 0 rgba(0, 0, 0, 0.01),
    0 13px 13px 0 rgba(0, 0, 0, 0.02),
    0 3px 7px 0 rgba(0, 0, 0, 0.02);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'textarea textarea'
    'left right';
  gap: 8px;
  min-height: 90px;
  max-height: unset;
  padding-top: 11px;

  &.isFiles {
    padding: 0;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'file file'
      'textarea textarea'
      'left right';
  }
}

.fileListWrapper {
  width: 100%;
  grid-area: file;
}

.textareaWrapper {
  width: 100%;
  overflow: hidden;
  grid-area: textarea;
  position: relative;
  padding: 0 16px;
}

.textarea {
  color: var(--text-neutral-primary);
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: var(--textarea-height);
  max-height: 140px;
  width: 100%;
  display: block;
  outline: none;
  resize: none;
  scrollbar-width: none;
  border: none;
  background: transparent;
  cursor: text;
  padding: 0;

  &::placeholder {
    color: var(--text-neutral-disabled);
  }

  @media (--vp-mobile) {
    max-height: 90px;
  }
}

.gradientTop {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--transparent-background-1-quartenary),
    transparent
  );
}

.gradientBottom {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--transparent-background-1-quartenary)
  );
}

.rightButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  grid-area: right;
  padding: 0 6px 5px 0;
}

.leftButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  grid-area: left;
  padding: 0 0 5px 6px;
}

.textareaOptionsList {
  margin: 12px 6px 0;

  @media (--vp-mobile) {
    order: -1;
    margin: 0 6px 16px;
  }
}
