.wrapper {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--text-neutral-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.16px;

  &.disabled {
    color: var(--text-neutral-disabled);
  }
}

.icon {
  min-width: 20px;
}
