.textarea {
  font-family: var(--font-primary);
  font-weight: 400;
  min-height: 40px;
  max-height: 100px;

  height: 100%;
  width: 100%;
  display: block;
  padding: 13px 16px 14px;
  outline: none;
  resize: none;
}
