.imageWrapper {
  position: relative;
  text-decoration: none;

  &.videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:not(.emptyPlaceholder) {
    cursor: pointer;
  }
}

.fullVideoWrapper {
  width: 640px !important;
  height: 390px !important;

  @media (--vp-mobile) {
    width: 360px !important;
    height: 220px !important;
  }
}

.bigImageWithPlaceholder {
  @media (--vp-mobile) {
    width: 360px !important;
    height: 220px !important;
  }
}

.playerIcon {
  z-index: 2;
  position: absolute;

  svg {
    width: 40px;
    height: 40px;
  }

  &.isBig {
    svg {
      width: 80px;
      height: 80px;
    }
  }
}

.videoContainer {
  margin-top: -85px;
  margin-left: -140px;
  width: 640px !important;
  height: 390px !important;

  @media (--vp-mobile) {
    width: 360px !important;
    height: 220px !important;
    margin-top: 0;
    margin-left: 0;
  }
}
