.nameRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 8px;
  padding: 12px 0 6px 6px;
  position: relative;

  .imageNameRow {
    border-radius: 100px;
    width: 36px;
    height: 36px;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .name {
    color: var(--text-neutral-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }

  .email {
    color: var(--text-neutral-disabled);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 170px;
    gap: 8px;
    margin-right: 8px;
  }

  .buttonCopy {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 28px;
    height: 28px;
  }

  .buttonCopy:focus {
    outline: none;
    box-shadow: none;
  }

  .iconCopy {
    stroke: var(--icon-neutral-disabled);
  }
}
