.root {
  color: var(--text-neutral-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @media (--vp-mobile) {
    font-size: 16px;
    line-height: 22px;
  }
}

.matchedPart {
  color: var(--text-neutral-disabled);
}
