.button {
  display: flex;
  height: 52px;
  width: 100%;
  padding: 16px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  border: 1px solid var(--icon-neutral-disabled-on-color);
  background: rgba(255, 255, 255, 0.12); /* не было переменной в дизайне */
  color: var(--text-neutral-primary-on-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.36px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.08); /* не было переменной в дизайне */
  }

  &:active {
    background: rgba(255, 255, 255, 0.12); /* не было переменной в дизайне */
  }

  @media (--vp-mobile) {
    width: 100%;
    min-width: unset;
    font-size: 16px !important;
    height: 44px !important;
    align-items: center;
    justify-content: center;
    border: none;
  }
}

.icon {
  min-width: 20px;
}
