.popup {
  @media (--only-desktop) {
    width: 375px;
  }
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.divider {
  width: calc(100% + 40px);
  margin-left: -20px;
  background: var(--stroke-neutral-alfa-disabled);
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.textBlock {
  color: var(--text-neutral-tertiary);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.15px;
  margin-bottom: 16px;
}
