.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

/* .emptyStateTitle {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--text-neutral-primary);
  text-align: center;
  margin: 0;
  max-width: 600px;
  letter-spacing: -0.02em;
} */

@media (max-width: 768px) {
  .emptyStateTitle {
    font-size: 24px;
  }
}

.emptyStateTitle {
  color: var(--text-neutral-primary);
  font-size: 36px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: -0.72px;
  max-width: 361px;
  user-select: none;
}
