.headerStyles {
  border: none;
  z-index: 1000;
  background: transparent;
  height: var(--desktop-header-height);
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  border-radius: 0;
  padding: 12px 16px;
  top: 0;
  transition:
    top 300ms ease-in-out,
    width 300ms ease-in-out,
    margin 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.headerInner {
  width: 100%;
  height: 44px;
  align-items: center;
  justify-content: end;
  display: flex;
  gap: 4px;
}
