.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);

  &.popupFullHeight {
    animation: fadeIn 0.05s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapperPopup {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  @media (--vp-mobile) {
    overflow: unset;
  }
}

.popup {
  position: relative;
  z-index: 3;
  height: fit-content;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  background: var(--background-neutral-global-secondary);
  width: 531px;
  padding: 16px 20px;

  flex-direction: column;
  align-items: flex-start;

  @media (--vp-mobile) {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 18px 32px;
    border-radius: 36px 36px 0 0;
    box-shadow: -3px 4px 35px 0 rgba(0, 0, 0, 0.06);
    border: none;
    right: 0 !important;
    flex-direction: column;

    &:not(.popupFullHeight) {
      -webkit-animation: slide-in-bottom 0.3s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-in-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  &.popupFullHeight {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background: var(--background-neutral-global-primary);
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 0;
    gap: 0;
    margin: 0;
    z-index: 100;

    @media (--vp-mobile) {
      justify-content: flex-start;
    }
  }

  &.popupFullHeight.popup > * {
    max-height: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translateZ(0);
  backdrop-filter: blur(4px);
  transition: background-color 0.3s;
}

@keyframes fadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: transparent;
  }
}

.overlayEnter {
  animation: fadeIn 0.3s ease-out forwards;
}

.overlayExit {
  animation: fadeOut 0.3s ease-in forwards;
}

.closeButton {
  position: absolute;
  top: 18px;
  right: 22px;
  cursor: pointer;
  z-index: 100;

  @media (--vp-mobile) {
    top: 18px;
    right: 22px;
    border-radius: 100px;
    background: var(--background-neutral-secondary);
    backdrop-filter: blur(14px);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:not(.popupFullHeight) {
    @media (--vp-mobile) {
      display: none;
    }
  }
}

.closeButton svg {
  stroke: var(--icon-neutral-disabled);
  transition: stroke 0.2s;
}

.closeButton:hover svg {
  stroke: var(--icon-neutral-tertiary);
}

.bottomSheetDot {
  width: 34px;
  height: 6px;
  min-height: 6px;
  border-radius: 47px;
  background: var(--background-neutral-tertiary);
  margin-top: 8px;
  align-self: center;
  display: none;

  @media (--vp-mobile) {
    display: block;
  }
}

.title {
  color: var(--text-neutral-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.2px;

  @media (--vp-mobile) {
    align-self: center;
    margin-top: 8px;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.popupBottomSheetEnter {
  animation: slideInUp 0.3s ease-out forwards !important;
}

.popupBottomSheetExit {
  animation: slideOutDown 0.3s ease-in forwards !important;
}
