.button {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background 0.3s ease,
    border-color 0.3s ease;
}

.primary {
  background: var(--background-brand-primary);
}

.transparent {
  background: transparent;
  color: var(--text-neutral-tertiary);
}

.transparent > svg {
  stroke: var(--text-neutral-tertiary);
}

.transparent:hover {
  background: var(--background-neutral-secondary);
}

.transparent.isActive {
  background: var(--background-neutral-secondary);
}

.default {
  height: 44px;
}

.icon {
  width: 20px;
}

.sm {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.xs {
  width: 28px;
  height: 28px;
  border-radius: 8px;
}
