.item {
  display: flex;
  padding: 6px 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--background-neutral-global-secondary);
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: var(--background-neutral-secondary);
  }

  &:active {
    background-color: var(--background-neutral-tertiary);
  }

  .title {
    color: var(--text-neutral-primary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }
}
