.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
  pointer-events: none;
}

.wrapperPopup {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;

  @media (--only-desktop) {
    overflow-y: hidden;
    display: flex;
    height: 100%;
  }
}

.popup {
  position: absolute;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid #242453;
  background: linear-gradient(180deg, #06063a 0%, #3535a3 100%);
  pointer-events: auto;

  &.orangeGradientBg {
    border: 2px solid #7d4f31;
    background: linear-gradient(180deg, #642e0a 0%, #000 100%) !important;
  }

  &.right,
  &.right-blue {
    width: 242px;
    height: 344px;
    padding: 18px;
    border-radius: 24px;
    bottom: 36px;
    right: 36px;
  }

  &.right-blue {
    padding: 18px;
    height: 281px;
    border: none;
    background: radial-gradient(
      93.95% 93.95% at 50.62% 6.05%,
      #007aff 0%,
      #005dfe 30%,
      #0e0039 100%
    );
  }

  &.bottom,
  &.bottom-big,
  &.blue {
    position: relative;
    align-self: flex-end;
    flex-direction: row;
    justify-content: start;
    bottom: 36px;
    padding: 0;
    height: 92px;
    width: 811px;
    border-radius: 24px;
    box-shadow:
      0 7px 10px 0 rgba(0, 0, 0, 0.2),
      0 24px 50px 0 rgba(8, 8, 111, 0.4);
  }

  &.bottom-big {
    width: fit-content !important;
  }

  &.full {
    width: 100%;
    height: 100%;
    gap: 40px;
    background: linear-gradient(180deg, rgba(6, 6, 58, 0.7) 0%, #3535a3 100%);
    box-shadow:
      0 4px 8px 0 rgba(48, 48, 121, 0.16),
      0 14px 20px 0 rgba(48, 48, 151, 0.2);
    backdrop-filter: blur(7px);
    border: none;
    overflow: hidden;

    @media (--vp-mobile) {
      padding: 0 36px 36px;
    }
  }

  &.blue {
    background: linear-gradient(180deg, #007aff 0%, #0052d7 100%);
    border: none;
    box-shadow:
      0 24px 50px 0 #0052d766,
      0 7px 10px 0 #00000033;
    width: 731px;
    height: 92px;
  }

  @media (--vp-mobile) {
    &:not(.full) {
      width: 100% !important;
      height: fit-content !important;
      bottom: 0 !important;
      padding: 30px 18px 32px !important;
      border-radius: 36px 36px 0 0 !important;
      border: none !important;
      box-shadow:
        0 4px 8px 0 rgba(48, 48, 121, 0.16),
        0 14px 20px 0 rgba(48, 48, 151, 0.2) !important;
      right: 0 !important;
      flex-direction: column !important;
      justify-content: space-between;
    }

    &.bottom-big {
      height: fit-content !important;
      gap: 24px;
    }

    &.isExtension&:not(.full) {
      position: relative;
      max-width: 375px;
      align-self: center;
      justify-content: center;
      bottom: unset !important;
      border-radius: 36px !important;
      margin-right: 8px;
      margin-left: 8px;
      height: fit-content !important;
      padding-bottom: 16px !important;
      box-shadow: none !important;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translateZ(0);
  pointer-events: none;

  @media (--vp-mobile) {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    pointer-events: auto;
  }

  &.bottom,
  &.blue {
    background: var(--overlay-bg);
  }

  &.isExtension {
    background: rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(0px) !important;
  }
}

.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 10;
  cursor: pointer;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  @media (--vp-mobile) {
    &:not(.full) {
      top: 24px;
      right: 24px;
    }
  }

  &.full {
    top: 36px;
    right: 36px;

    @media (--vp-mobile) {
      top: 22px;
      right: 22px;
    }
  }
}

.closeIcon {
  stroke: #ffffff80;
}

.bottomSheetDot {
  &:not(.full) {
    width: 34px;
    height: 6px;
    min-height: 6px;
    border-radius: 47px;
    opacity: 0.2;
    background: #fff;
    margin-top: 8px;
    align-self: center;
    display: none;
    position: absolute;
    top: 0;

    @media (--vp-mobile) {
      display: block;
    }
  }
}

/* --- Popup анимация --- */
.enter {
  opacity: 0;
  transform: translateY(50px);
}
.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.5s,
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.enterDone {
  opacity: 1;
  transform: translateY(0);
}
.exit {
  opacity: 1;
  transform: translateY(0);
}
.exitActive {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.5s,
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* --- Overlay анимация --- */
.overlayEnter {
  opacity: 0;
}
.overlayEnterActive {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.overlayExit {
  opacity: 1;
}
.overlayExitActive {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}
