.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
  overflow-x: auto !important;
  margin-top: 6px;
  padding-top: 1px;
  padding-left: 6px;
  padding-right: 6px;
  --top-fade: 6px;
  --bottom-fade: 6px;
  -webkit-mask: linear-gradient(
    to right in oklch,
    oklch(60% 0 0 / 0),
    oklch(85% 0 0) var(--top-fade) calc(100% - var(--bottom-fade)),
    oklch(60% 0 0 / 0)
  );
}

.scrollWrapper {
  overflow: scroll;
  width: 100%;
  display: flex;
}

.imageWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
}
