.wrapper {
  display: flex;
  min-width: 36px;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 99px;
  background-color: var(--background-neutral-primary-inverse);
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;

  &:hover {
    background-color: var(--background-neutral-secondary-inverse);
  }

  &:active {
    background-color: var(--background-neutral-tertiary-inverse);
  }

  .icon {
    stroke: var(--icon-neutral-primary-inverse);
  }
}
