.errorWrapper {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-radius: 20px;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  background: var(--background-neutral-secondary);

  @media (--vp-mobile) {
    flex-direction: column;
  }

  &.imageWrapper {
    flex-direction: column;
    height: 350px;
    justify-content: center;
    text-align: center;

    @media (--vp-mobile) {
      height: 361px;
    }
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  max-width: 393px;

  div:first-child {
    color: var(--text-neutral-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.18px;
  }

  div:last-child {
    color: var(--text-neutral-tertiary);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  @media (--vp-mobile) {
    text-align: center;
    align-items: center;
  }

  &.imageWrapper {
    text-align: center;
    align-items: center;
  }
}

.button {
  height: 42px;
  padding: 6px 16px;
}

.image {
  width: 64px;
  height: 64px;
}
