.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  background: var(--background-neutral-global-secondary);
  box-shadow:
    0 80px 22px 0 rgba(0, 0, 0, 0),
    0 51px 20px 0 rgba(0, 0, 0, 0),
    0 29px 17px 0 rgba(0, 0, 0, 0.01),
    0 13px 13px 0 rgba(0, 0, 0, 0.02),
    0 3px 7px 0 rgba(0, 0, 0, 0.02);
  margin-bottom: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  max-height: 40px;
  transition: max-height 0.3s ease-out;

  &.isOpen {
    max-height: 250px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 6px;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
  overflow: scroll;

  &.longList {
    padding-bottom: 12px;
  }
}

.header {
  color: var(--text-neutral-secondary);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 14px;

  span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &.isOpen {
    border-bottom: 1px solid var(--stroke-neutral-alfa-tertiary);
  }

  .innerBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    pointer-events: none;
  }

  .iconArrow {
    min-width: 20px;
    width: 20px;
    height: 20px;
    stroke: var(--text-neutral-tertiary);
  }

  .iconRotate {
    transition: all 0.3s;
    transform: rotate(180deg);
  }
}

.gradientFooter {
  width: 100%;
  height: 34px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(
    0deg,
    var(--transparent-background-1-quartenary) 0%,
    var(--transparent-background-2-quartenary) 100%
  );
}

.loader {
  min-width: 18px;
}
