.wrapper {
  flex: 1;
}

.wrapperContainer {
  overflow: visible;
  margin-top: 0;
  padding: 0;
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.outletWrapper {
  height: calc(100% - var(--desktop-header-height));

  @media (--only-desktop) {
    transition: margin-left 300ms ease-in-out;
    margin-left: 0;

    &.outletWrapperIsOpenSidebar {
      margin-left: var(--desktop-sidebar-width);
    }

    &.outletWrapperIsOpenSidebarWhenOpenImprovements {
      margin-left: 0 !important;
    }
  }
}

.backgroundGradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: var(--background-gradient-extension);
}
