.popup {
  @media (--only-desktop) {
    width: 375px;
  }
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  @media (--vp-mobile) {
    gap: 24px;
  }
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  @media (--vp-mobile) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.textBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;

  & > div:first-child {
    color: var(--text-neutral-tertiary);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.15px;
  }

  & > div:nth-child(2) {
    color: var(--text-neutral-primary);
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.divider {
  width: calc(100% + 40px);
  margin-left: -20px;
  background: var(--stroke-neutral-alfa-disabled);
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;

  @media (--vp-mobile) {
    opacity: 0;
    margin-bottom: 0;
  }
}

.contentWrapperExtension {
  padding: 10px 4px 2px;

  .column {
    gap: 16px;
  }

  .buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
