.root {
  @media (--vp-mobile) {
    display: none;
  }
}

.root::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background 0.2s;
  z-index: 10000;
  pointer-events: none;
}

.overlay::before {
  background: rgba(13, 13, 23, 0.35); /* не было переменной в дизайне */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;

  flex: 1;
  width: 400px;
  height: 290px;
  border-radius: 24px;
  padding: 36px 32px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  user-select: none;
  align-items: center;
  justify-content: center;

  background-color: var(--background-neutral-global-secondary);
  border: 3px dashed var(--stroke-colored-brand);
  box-shadow: 0 4px 39.7px 0 rgba(0, 0, 0, 0.12);

  -webkit-animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  .image {
    height: 132px;
    align-self: stretch;
  }

  .textBlock {
    display: flex;
    width: 336px;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    :first-child {
      color: var(--text-neutral-primary);
      font-size: 32px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -0.32px;
    }

    :nth-child(2) {
      color: var(--text-neutral-tertiary);
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.16px;
    }
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
