.logo {
  min-width: 26px;
  width: 26px;
  height: 26px;
}

.logoWrapper {
  min-width: 28px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newChatExtension {
  width: 18px;
  height: 18px;
  stroke: var(--text-neutral-secondary) !important;
}
