.logoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
  color: var(--icon-neutral-primary-on-color);
  letter-spacing: 0.01em;
}

.logo {
  width: 32px;
  height: 32px;
}
