.wrapper {
  height: 38px;
  padding: 8px 14px 8px 8px;
  gap: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--background-neutral-secondary);
  border-radius: 100px;
  cursor: pointer;
  user-select: none;
  transition:
    background 0.3s,
    opacity 0.3s,
    width 0.1s;
  font-size: 15px;
  width: 100%;
  opacity: 1;
  min-width: 107px;

  .hiddenTitle {
    white-space: nowrap;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-neutral-disabled);

    -webkit-animation: fade-in-left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: fade-in-left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    @media (--vp-mobile) {
      display: none;
    }
  }

  &.isExtendingTitle {
    min-width: 60px;
    gap: 4px;
    background: transparent;
    color: var(--text-neutral-primary);
    border-radius: 8px;
    padding: 6px;
    height: 34px;
  }

  &:not(.isExtendingTitle, .isTransparent).isOpen {
    @media (--only-desktop) {
      background: var(--background-neutral-global-secondary) !important;
      outline: 2px solid var(--background-brand-primary-hover) !important;
    }
  }

  @media (--vp-tablet) {
    width: 100%;
    height: 44px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: var(--text-neutral-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;

  .spanWrapper {
    display: flex;
    align-items: center;
  }

  .animatedSpan {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: width 0.3s ease;
    color: var(--text-neutral-primary);
  }

  .ghostSpan {
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
    height: auto;
    overflow: visible;
  }

  @media (max-width: 420px) {
    span {
      max-width: 96px;
    }
  }
}

.icon {
  stroke: var(--stroke-neutral-solid-primary);
}

.iconArrow {
  stroke: var(--icon-neutral-disabled);
  opacity: 0.6;
  min-width: 16px;
}

.iconRotate {
  transition: all 0.3s;
  transform: rotate(180deg);
}

.stroke {
  stroke: var(--icon-neutral-primary);
  min-width: 24px;
}

.isDisabled {
  cursor: default;
  opacity: 0.6;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
