.actionItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  height: 38px;
  padding: 6px 10px;
  gap: 8px;
  color: var(--text-neutral-primary);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.16px;
  user-select: none;
}

.actionItem:hover {
  background: var(--background-neutral-secondary);
}

.actionItem:active {
  background: var(--background-neutral-tertiary);
}

.actionPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 50000000;
  outline: none !important;
  gap: 2px;
  border-radius: 14px;
  border: 1px solid var(--stroke-neutral-alfa-tertiary);
  background: var(--background-neutral-global-secondary);
}
